/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../svg/cupcake-svgrepo-com.svg");
  background-repeat: repeat;
  background-size: 250px 350px;
  opacity: 0.2;
  z-index: -1;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(95%, 1140px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid red; */
}

:root {
  --text: #fff;
  --dark: #000;
  --background-link: #ebbec5;
  --secondary: yellowgreen;
  --tertiary: yellow;
  --quaternary: firebrick;
  --quinary: pink;

  --base-font: "Popins", sans-serif;
  --headline: "Merriweather", serif;
}

/*! ================ CSS-STYLE ================*/

/*! ============ HEADER-MENU ============*/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  background: url(../img/hero-img.jpg) left / cover no-repeat;
  position: relative;
  height: 100vh;
  padding: 20px 0;
  border-radius: 0 0 22px 22px;
  /* overflow: hidden; */
}

.mobil-item {
  display: none;
}

.nav-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Розташування логотипу зліва і меню справа */
  padding: 0 15px; /* Відступи по боках */
}

.header-menu {
  position: absolute;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* gap: 10px; */
  /* background-color: #fff; */
}

.header-menu.show {
  display: flex;
}

/* .header-item {
  height: 50px;
} */

.header-link {
  font-weight: 600;
  font-size: 22px;
  color: var(--text);
  height: 100%;
  padding: 0 30px;
  margin-right: 20px;
  transition: 250ms;
}

.header-link:hover {
  color: var(--background-link);
  transition: 0.3s ease;
}

ul li:first-child {
  /*? Logo-right */
  margin-right: auto;
}

.logo {
  font-family: "Playwrite CU", cursive;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.3px;
}

/*! ============ HEADER-END ============*/

/*! ============ HEADER-TITLE ============*/

.header-title {
  position: absolute;
  top: 40%;
  left: 0;
  color: var(--text);
  padding: 20px;
}

.header-heading {
  font-weight: 600;
  font-size: clamp(50px, 3vw, 55px);
  letter-spacing: 1.2px;
}

.header-title span {
  font-family: "Playwrite CU", cursive;
  color: hsl(228, 45%, 24%);
}

/* button */

.header-button {
  font-size: 16px;
  color: var(--text);
  /* border: 1px solid #fff; */
  background-color: rgb(249, 137, 156);
  padding: 15px 45px;
  border-radius: 50px;
  margin-top: 22px;
  width: 80%;
  transition: 250ms;
}

.header-button:hover {
  background-color: rgb(250, 163, 177);
  transition: 0.3s ease;
}

/**? SOCIAL-ICON */

.social-box {
  position: absolute;
  right: 35px;
  bottom: 20px;
}
.sicoal-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}
.social-item {
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #2249b6;
  /* color: #083475; */
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--background-link);
  border: 1px solid var(--background-link);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #50ebc9;
  border: 1px solid transparent;
}

.fa-brands {
}
.fa-facebook {
}
.fa-instagram {
}
.fa-youtube {
}

/**? SOCIAL-ICON */

/*! ============ HEADER-TITLE-END ============*/

/*! ============ GALLERY-SECTION ============*/

.gallery-section {
  margin: 0;
}

.gallery-product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px 0;
  min-height: 100%;
  max-width: 100%;
}

.gallery-product img {
  object-fit: cover;
  background-size: 60%;
  border-radius: 22px;
  width: 500px;
  height: 450px;
}

.gallery-title {
  font-weight: 600;
  font-size: clamp(32px, 3vw, 35px);
  text-align: center;
  margin-top: 80px;
  color: var(--dark);
}

/*! ============ GALLERY-SECTION-END ============*/

/*! ============ ABOUT-SECTION ============*/

.about-box img {
  /* border: 1px solid red; */
  /* display: none; */
  width: 450px;
  height: 500px;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 9px 11px 23px -5px rgba(0, 0, 0, 0.75);
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-section {
  margin-left: 20px;
}

.about-section h2 {
  text-align: left;
  font-weight: 600;
  font-size: clamp(32px, 3vw, 35px);
  color: var(--dark);
  /* text-align: left; */
  padding: 0 10px;
}

.about-text {
  font-size: clamp(16px, 3vw, 17px);
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: var(--dark);
  padding: 0 10px;
  margin-top: 15px;
  text-align: justify;
}

/*! ============ ABOUT-SECTION-END ============*/

/*! ================= CONTACT-SECTION =================*/

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.contact-one {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}

.contact-title {
  font-weight: 600;
  font-size: clamp(28px, 3vw, 30px);
  text-align: center;
  margin-bottom: 14px;
  color: var(--dark);
}

.contact-subject {
  font-size: clamp(12px, 3vw, 14px);
  letter-spacing: 1.2px;
  line-height: 1.3;
  padding: 18px 0;
  color: var(--dark);
  /* border: 1px solid red; */
}

input,
textarea {
  display: block;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;

  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  resize: none;
  transition: border-color 250ms;
}

input:focus,
textarea:focus {
  border-color: rgb(249, 137, 156);
  outline: none;
}

textarea {
  padding: 10px;
}

input {
  height: 30px;
  padding: 10px;

  resize: none;
}

input[type="submit"] {
  border: none;
  background-color: rgb(249, 137, 156);
  border-radius: 4px;

  font-weight: 500;
  /* font-size: 16px; */
  color: var(--text);
  padding: 22px;
  line-height: 0;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: rgb(249, 137, 156, 0.8);
  transition: 250ms ease;
}

.img-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-contact img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 22px;
  box-shadow: 9px 11px 23px -5px rgba(0, 0, 0, 0.75);
}

/*! ================= CONTACT-SECTION-END =================*/

footer {
  width: 100vw;
  padding: 30px 0;
  background-color: #2b2b2b;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-footer {
}

.footer-link {
  font-family: "Playwrite CU", cursive;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.3px;
  color: var(--text);
}

.email-icon,
.address-icon,
.phone-icon {
  font-size: 18px;
  margin-right: 10px;
}

.footer-contact {
  padding-top: 10px;
}

.footer-contact li {
  padding: 5px;
}

.footer-contact a {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: var(--text);
}

.footer-name {
  padding: 12px;
  font-size: 13px;
}
